.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.app>.nav-bar>nav>ul {
  justify-content: center;
  display: flex;
  text-decoration: none;
}

.app>.nav-bar>nav>ul>li {
  list-style: none;
  padding: 10px;
}


.todo-list {
  width: 480px;
  text-align: center;
}

.todo-group {
  text-align: left;
}

.todo-item {
  border: 1px solid #CCC;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
}

.btn-group {
  display: flex;
  align-items: center;
}

.btn-group .btn {
  margin-left: 8px;
}

.todo-item div {
  cursor: pointer;
}

.todo-generator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.todo-generator input {
  width: 100%;
  padding: 8px 16px 8px 16px;
  margin-right: 16px;
}

.todo-generator button {
  width: 180px;
}

.task-name.done {
  text-decoration: line-through;
}

.remove-button {
  display: inline;
}

.task {
  display: flex;
  align-items: center;
}